#topBar{
	background-color: white;
	position: relative;
	height: 55px;
    line-height:55px;
}
#instaLogo{
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}
#instaText{
	width:55%;
	display: inline-block;
	vertical-align: middle;
	padding-top: 5px;
}

#bar{
	border-left: 1px solid black;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;*/
}
#searchBar{
	margin: 0 auto;
	width:38%;
	height: 28%;
	margin-top: 18px;
	background-color: #FAFAFA;
	text-align: center;
	font:normal 12px sans-serif ;
}
.icons{
	width:10%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}
.card{
	border-style:solid;
	border-color:#E6E6E6;
	border-width: 1px;

	background-color: white;
}

.prof{
	height:28px;
	width:28px;
	border-radius: 50%;
	display: inline-block;
	margin: 15px;

}
.handle{
	font:bold 14px sans-serif;
	display: inline-block;
}
.cont{
	width: 100%;
	height: auto;
}

.stayInside{
	overflow: hidden;
	padding:0px;
}
.iconsC{
	max-height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin:15px;
}
.likeButton{
	display: inline-block;
	vertical-align: middle;
	margin:15px;
	font-size:28px;
	font-style: normal;
}
.glyphicon-heart{
	color: #ED4956;
}
.text{
	margin-left: 15px;
	font:normal 15px sans-serif;
}
.timeStamp{
	font:normal 11px sans-serif;
	color:gray;
	line-height: 18px;
}
.divLine{
	height: .75px;
	width: 90%;
	border-width: .25px;
	border-style: solid;
	margin:auto;
	border-color: #E6E6E6;
}
.ellipsis{
	padding: 0px;
	padding-bottom: 10px;
	font-style: bold;
	font-size: 20px;
	line-height: 40px;

}
.spacer{
	height:30px;

}
.likeNum{
	font-weight: bold;
	display: inline-block; 
}

.butt{
	background-color: gray;
}